@model IEnumerable<Student>
@{
    Layout = "_Layout2";
}


    <table class="table table-striped">
        <thead>
            <tr>
@*                 <th hidden>Student ID</th>
 *@                <th>Student Name</th>
            <th>Student Age</th>

                <th>Student Email</th>
                <th>Student Department</th>



            </tr>
        </thead>
        @foreach (var item in Model)
        {
            <tr>
@*                 <td hidden>@item.Id</td>
 *@                <td>@item.Name</td>
            <td>@item.Age</td>

                <td>@item.Email</td>
                <td>@item.Department.Name</td>  
                <td><a asp-action="Edit" asp-controller="Student" asp-route-id="@item.Id" class="btn btn-dark"> Edit </a></td>
            </tr>
        }
    </table>
    <a asp-action="Create" asp-controller="Student" class="btn btn-outline-dark">Add Student</a>
